@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital@1&display=swap');

:root {
  --body-background: #4c8099;
  --primary-background: #669999;
  --secondary-background: #578a99;
  --button-background: #ffffff;
  --primary-font: #000033;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bellota Text', cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--body-background);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 20px;
  background-color: var(--primary-background);
  border-radius: 20px;
}
.header {
  flex-direction: column;
  gap: 10px;
}
h1 {
  font-size: 50px;
  color: var(--primary-font);
}
.input-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--secondary-background);
  border-radius: 20px;
}
.user-input,
.result {
  text-align: right;
  width: 100%;
  background-color: transparent;
  padding-right: 10px;
  color: var(--primary-font);
  outline: none;
  border: none;
}
.result {
  font-size: 30px;
}
.user-input {
  font-size: 26px;
}
.calculator {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.btn {
  border-radius: 50px;
  font-size: 28px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: -6px -6px 9px #1a4c99, 11px 11px 21px -8px #1a4c99;
  background-color: var(--button-background);
  color: var(--primary-font);
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: translateY(3px);
}
.clear:hover,
.backspace:hover {
  background-color: #ff9999;
}
.number:hover {
  background-color: #80aaff;
}
.equal:hover {
  background-color: #80ffbf;
}
.operator:hover {
  background-color: #d5ff80;
}
.stretch {
  grid-column: 1 / span 2;
}
.zero {
  width: 87%;
}
